#wrap{
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: black;
}

#sun{
  /*230 219*/
  position: absolute;
  width: 76px;
  height: 73px;
  left:calc(50% - 38px);
  top: calc(50% - 36.5px);
}

#earth{
  width: 30px;
  position: absolute;
}

#info{
  width: 500px;
  position: fixed;
  color: white;
  background-color: black;
  top:0;
  border: 1px solid white;
  z-index: 1000;
}

#set{
  position: fixed;
  z-index: 1000001;
  background-color: white;
  width: 500px;
  padding: 30px;
}
